@font-face {
    font-family: "Montserrat-Light";
    src: url("../bootstrap/fonts/Montserrat-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Raleway-Medium";
    src: url("../bootstrap/fonts/Raleway-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("../bootstrap/fonts/Raleway-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
.page {
    width: 1280px;
    // height: auto;
    margin: 0 auto;
    
    @media (max-width: 1200px) {
        width: 100vw;
        
    }
}